:where([ui-button]){
	display: inline-block;
	margin: 2px;
	padding: 4px 12px;

	cursor: pointer;

	border-radius: var(--corner-smoothing);
	background-color: var(--brand-primary);
	color: var(--brand-primary-text);
	/*box-shadow: var(--shadow);	*/
}

[ui-button]::selection{
	user-select: all;
}

[ui-button].text{
	background-color: transparent;
	padding: 0;
}

[ui-button] a{
	text-decoration: none;
	color: var(--brand-primary-text);
}

[ui-button] > i:not(.icon-only){
	margin-right: 4px;
}

[ui-button]:hover{
	filter: brightness(1.1);
}

[ui-button][disabled]{
	filter: grayscale(1);
	pointer-events: none;
}