[ui-panel]{
	display: block;

	box-shadow: var(--shadow);
	margin: 10px;
	padding: 10px;
	
	background-color: white;

	border-radius: var(--corner-smoothing);
}

[ui-panel] > header{
	font-weight: 400;
	font-size: 1.2em;
	
	border-bottom: #0003 1px solid;

	border-radius: var(--corner-smoothing) var(--corner-smoothing) 0 0;

	padding: 5px;
	margin-bottom: 10px;

	text-transform: capitalize;

	display: flex;
	align-items: center;
}

[ui-panel] > content{
	display: block;
}

[ui-panel] > footer{
	padding-top: 5px;
	
	margin-top: 10px;

	border-top: #0003 1px solid;

	display: flex;
	align-items: center;
}